SUBGRAPH_ENDPOINT = https://api.thegraph.com/subgraphs/name/rrridges-crypto/yearn-vault-roi-dev	
WEB3_ENDPOINT_HTTPS = https://mainnet.infura.io/v3/4f8bf400ab354820998e6dfdea0a1b78
WEB3_ENDPOINT_WSS = wss://mainnet.infura.io/ws/v3/4f8bf400ab354820998e6dfdea0a1b78
ARCHIVENODE_ENDPOINT = https://api.archivenode.io/93mwpmy684fb0dc3c0q93mwpmwlssf6a	
ETHERSCAN_API_KEY = GEQXZDY67RZ4QHNU1A57QVPNDV3RP1RYH4	

AWS_ACCESS_KEY_ID= dummy
AWS_SECRET_ACCESS_KEY= dummy
AWS_DEFAULT_REGION= dummy
SERVERLESS_STAGE= local
IS_OFFLINE= true


